extends layout

block content
  h1 #{title}
  form(method='POST', action='/tours/add')
    #form-group
      label Title:
      input.form-control(name='title', type='text')
    #form-group
      label Company:
      input.form-control(name='company', type='text')
    #form-group
      label Body:
      textarea.form-control(name='body', type='text')
    br
    input.btn.btn-primary(type='submit', value="Submit")
